*.ma linguist-detectable=false
# Assets/_Scenes/MainScene/LightingData.asset filter=lfs diff=lfs merge=lfs -text
# LightingData.asset filter=lfs diff=lfs merge=lfs -text
# Lightmap-*_comp_light.exr filter=lfs diff=lfs merge=lfs -text
# ReflectionProbe-*.exr filter=lfs diff=lfs merge=lfs -text
